@page
@model TTRBookings.Web.Pages.Bookings.CreateModel

<h2>Create Booking</h2>
<br />

<form asp-page="./Create" method="post">    
    <fieldset id="FormFieldset" class="p-3 mb-2">
        <div class="form-row">
            <div class="col">
                <label asp-for="BookingVM.Rose.Name">Rose</label>
                <select class="custom-select" asp-for="BookingVM.Rose.Id" asp-items="Model.RoseList"></select>
            </div>
            <div class="col">
                <label asp-for="BookingVM.Room.Name">Room</label>
                <select class="custom-select" asp-for="BookingVM.Room.Id" asp-items="Model.RoomList"></select>
            </div>
            <div class="col">
                <label asp-for="BookingVM.Tier.Rate"></label>
                <input class="form-control" asp-for="BookingVM.Tier.Rate" step="10000" type="number" value="10000" min="0" />
            </div>
        </div><br />
        <div class="form-row">
            <div class="col">
                <label asp-for="BookingVM.TimeSlot.Start">Start Time</label>
                <input type="text" class="form-control" asp-for="BookingVM.TimeSlot.Start" placeholder="Please select Date Time" data-input>
            </div>
            <div class="col">
                <label asp-for="BookingVM.TimeSlot.End">End Time</label>
                <input type="text" class="form-control" asp-for="BookingVM.TimeSlot.End" placeholder="Please select Date Time" data-input>
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto">
            <button type="submit" id="submitButton" class="btn btn-success">Save Changes</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        var today = new Date();

        function getRoundedDate(minutes, d = new Date(), offsetMinutes = 0) {
            let ms = 1000 * 60 * minutes; //minutes to milliseconds
            let roundedDate = new Date(Math.round(d.getTime() / ms) * ms + offsetMinutes * 60000); //round Date and add offsetMinutes
            return roundedDate
        }

        //Timepicker
        $("#BookingVM_TimeSlot_Start").flatpickr({
            altInput: true,
            enableTime: true,
            time_24hr: true,
            dateFormat: "d.m.Y H:i:S",
            altFormat: "D., d-m-Y H:i",
            minuteIncrement: 15,
            defaultDate: getRoundedDate(15, today)
        });

        $("#BookingVM_TimeSlot_End").flatpickr({
            altInput: true,
            enableTime: true,
            time_24hr: true,
            dateFormat: "d.m.Y H:i:S",
            altFormat: "D., d-m-Y H:i",
            minuteIncrement: 15,
            defaultDate: getRoundedDate(15, today, 30)
        });
        //Timepicker End
    </script>
}