@page
@model TTRBookings.Web.Pages.Bookings.CreateModel

<h2>Create Booking</h2>
<br />

<form id="createForm" asp-controller="Bookings" asp-action="Create" method="post" class="needs-validation" novalidate>
    <fieldset id="FormFieldset" class="p-3 mb-2">
        <div class="form-row">
            <div class="col">
                <label asp-for="BookingVM.Staff.Name">Staff</label>
                <select class="custom-select" name="StaffId" asp-for="BookingVM.Staff.Id" asp-items="Model.StaffList" required></select>
                <div class="invalid-feedback">
                    Please provide a Staff.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col">
                <label asp-for="BookingVM.Room.Name">Room</label>
                <select class="custom-select" name="RoomId" asp-for="BookingVM.Room.Id" asp-items="Model.RoomList" required></select>
                <div class="invalid-feedback">
                    Please provide a Room.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col">
                <label asp-for="BookingVM.Tier.Rate"></label>
                <input class="form-control decimal_input" name="TierRate" asp-for="BookingVM.Tier.Rate" step="0.01" inputmode="decimal" min="0" placeholder="Please select a valid Rate" required />
                <div class="invalid-feedback">
                    Please provide a Rate.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div><br />
        <div class="form-row">
            <div class="col">
                <label asp-for="BookingVM.TimeSlot.Start">Start Time</label>
                <input type="text" class="form-control" name="TimeStart" asp-for="BookingVM.TimeSlot.Start" placeholder="Please select a Start Date" required />
                <div class="invalid-feedback">
                    Please provide a Start Date.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col">
                <label asp-for="BookingVM.TimeSlot.End">End Time</label>
                <input type="text" class="form-control" name="TimeEnd" asp-for="BookingVM.TimeSlot.End" placeholder="Please select an End Date" required />
                <div class="invalid-feedback">
                    Please provide an End Date.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto">
            <button type="submit" id="submitButton" class="btn btn-success">Save Changes</button>
        </div>
    </div>
</form>

@section Scripts
{
<script type="text/javascript">

    document.getElementById("createForm").addEventListener("submit", function () {
        handleFormSubmit(event, SuccessRedirect, "../Bookings");
    });

    function SuccessRedirect(data, redirectString) {
        if (data.success) {
            window.location.replace(redirectString);
        }
        else {
            let toastrErrors = JSON.parse(data.toastrJSON);

            for (let [key, value] of Object.entries(toastrErrors)) {
                //console.log(`${key}: ${value}`);
                toastr.error(value, key);
                //$("#createForm").removeClass("was-validated");
            }
        }
    }

    //jQuery - Only allow numbers 0-9 and "," in the field.
    $(".decimal_input").on("input", function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^0-9,]/g, ''));
        self.val(self.val().replace(".", ","));
    });

    //Toastr Error display
    @foreach (var d in Model.ToastrErrors)
    {
        @:toastr.error("@d.Value", "@d.Key");
    }

    //Flatpickr Setup
    $("#BookingVM_TimeSlot_Start").flatpickr();
    $("#BookingVM_TimeSlot_End").flatpickr();
</script>
}
