@page
@model TTRBookings.Web.Pages.Bookings.EditModel
@{
}
<h2>Edit Booking</h2>
<form asp-page="./Edit" method="post">
    <input asp-for="BookingVM.Id" type="hidden" />
    <div class="form-row">
        <div class="col">
            <label asp-for="BookingVM.Rose.Name">Rose</label>
            <select class="custom-select" asp-for="BookingVM.Rose.Id" asp-items="Model.RoseList"></select>
        </div>
        <div class="col">
            <label asp-for="BookingVM.Room.Name">Room</label>
            <select class="custom-select" asp-for="BookingVM.Room.Id" asp-items="Model.RoomList"></select>
        </div>
        <div class="col">
            <label asp-for="BookingVM.Tier.Rate"></label>
            <input class="form-control" asp-for="BookingVM.Tier.Rate" step="10000" type="number" placeholder="10000" min="0" />
        </div>
    </div><br />
    <div class="form-row">
        <div class="col">
            <label asp-for="BookingVM.TimeSlot.Start">Start Time</label>
            <input class="form-control" asp-for="BookingVM.TimeSlot.Start" />
        </div>
        <div class="col">
            <label asp-for="BookingVM.TimeSlot.End">End Time</label>
            <input class="form-control" asp-for="BookingVM.TimeSlot.End" />
        </div>
    </div><br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>