@page
@model TTRBookings.Web.Pages.Bookings.EditModel
@{
}
<h2>Edit Booking</h2>
<form asp-page="./Edit" method="post">
    <input asp-for="BookingVM.Id" type="hidden" />
    <label asp-for="BookingVM.Room.Name"></label>
    <select asp-for="BookingVM.Room.Id" asp-items="Model.RoomList"></select> <br />
    <label asp-for="BookingVM.Rose.Name"></label>
    <select asp-for="BookingVM.Rose.Id" asp-items="Model.RoseList"></select> <br />
    <label asp-for="BookingVM.Tier.Rate"></label>
    <input asp-for="BookingVM.Tier.Rate" step="10000" /> <br />
    <label asp-for="BookingVM.TimeSlot.Start"></label>
    <input asp-for="BookingVM.TimeSlot.Start" /> <br />
    <label asp-for="BookingVM.TimeSlot.End"></label>
    <input asp-for="BookingVM.TimeSlot.End" /> <br />

    <button type="submit">Submit</button>
</form>
