@page
@model IndexModel
@{
    ViewData["Title"] = "Bookings";
}

<table style="width:50%">
    <tr>
        <th>Booked Room</th>
        <th>Details Page</th>
    </tr>
    @foreach (var booking in Model.Bookings)
    {
    <tr>
        <td>@booking.Room.Name</td>
        <td><a asp-page="./Details" asp-route-id="@booking.Id">Details</a></td>
    </tr>
    }
</table>


