@page
@model IndexModel
@{
    ViewData["Title"] = "Bookings";
}

<table class="table table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Booked Room</th>
            <th>Details Page</th>
        </tr>
    </thead>
    @foreach (var booking in Model.Bookings)
    {
    <tr>
        <td>@booking.Room.Name</td>
        <td><a asp-page="./Details" asp-route-id="@booking.Id">Details</a></td>
    </tr>
    }
</table>