@model TTRBookings.Web.ViewComponents.SelectedHouse

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <form id="HousesSelectForm" method="post" asp-controller="HousesSelect" asp-action="Select">
            <input id="CurrentPath" name="CurrentPath" type="hidden" value="@Context.Request.Path" />
            <div class="form-row">
                <div class="col-auto">
                    <select asp-for="HouseId" asp-items="Model.Houses" class="custom-select custom-select-sm"></select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-sm btn-primary">Select</button>
                </div>
            </div>
        </form>
    </li>
</ul>
