@model TTRBookings.Web.ViewComponents.SelectedHouse

<form id="HousesSelectForm" method="post" asp-controller="HousesSelect" asp-action="Select">
    <input id="CurrentPath" name="CurrentPath" type="hidden" value="@Context.Request.Path" />
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label">Active House</label>
        </div>
        <div class="col">
            <select asp-for="HouseId" asp-items="Model.Houses" class="custom-select"></select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </div>
</form>