@page
@model TTRBookings.Web.Pages.Roses.EditModel
@{
}
<h2>Edit Rose</h2>
<form asp-page="./Edit" method="post">
    <input asp-for="RoseVM.Id" type="hidden" />
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label" asp-for="RoseVM.Name">Rose Name</label>
        </div>
        <div class="col">
            <input class="form-control" asp-for="RoseVM.Name" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Create Rose</button>
        </div>
    </div>
</form>