@page
@model IndexModel
@{
    ViewData["Title"] = "Roses";
}

<table style="width:50%">
    <tr>
        <th>Rose</th>
    </tr>
    @foreach (var rose in Model.Roses)
    {
    <tr>
        <td>@rose.Name</td>
    </tr>
    }
</table>

@*<div class="text-center">
    @string.Join(',', Model.Roses.Select(r => r.Name))

    @foreach (var rose in Model.Roses)
    {
        <div>@rose.Name</div>
    }

    <form asp-page="/Roses/Index" method="post">
        <input type="submit" value="Submit" />
    </form>
</div>*@