@page
@model IndexModel
@{
    ViewData["Title"] = "Roses";
}

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Rose</th>
            <th>Details Page</th>
        </tr>
    </thead>
    @foreach (var rose in Model.Roses)
    {
    <tr>
        <td>@rose.Name</td>
        <td><a asp-page="./Details" asp-route-id="@rose.Id">Details</a></td>
    </tr>
    }
</table>