<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Account/Logout">Hello <b>@User.Identity.Name</b>, click here to Logout!</a>
    </li>
</ul>