@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Select House</h2>
<form asp-page="./Create" method="post">
    <label>Houses</label>
    <select asp-for="HouseId" asp-items="Model.Houses"></select> <br />

    <button type="submit">Select</button>
</form>