@page
@model TTRBookings.Web.Pages.Managers.CreateModel

<h2>Create Manager</h2>
<br />

<form id="createForm" asp-controller="Managers" asp-action="Create" method="post" class="needs-validation" novalidate>
    <fieldset id="FormFieldset" class="p-3 mb-2">
        <div class="form-row">
            <div class="col">
                <label asp-for="ManagerVM.Name">Name</label>
            </div>
        </div>
        <div class="form-row w-25">
            <div class="col">
                <input class="form-control" name="Name" asp-for="ManagerVM.Name" required />
                <div class="invalid-feedback">
                    Please provide a Manager name.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto align-content-center">
            <button type="submit" id="submitButton" class="btn btn-success">Save Changes</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        //Hook in custom Form Submit
        document.getElementById("createForm").addEventListener("submit", function () {
            handleFormSubmit(event, SuccessRedirect, "../Managers");
        });

    </script>
}
