@page
@model TTRBookings.Web.Pages.Managers.CreateModel

<h2>Create Manager</h2>
<form asp-page="./Create" method="post">
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label" asp-for="ManagerVM.Name">Manager Name</label>
        </div>
        <div class="col">
            <input class="form-control" asp-for="ManagerVM.Name" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Create Manager</button>
        </div>
    </div>
</form>