@page
@model TTRBookings.Web.Pages.Managers.EditModel
@{
}
<h2>Edit Manager</h2>
<form asp-page="./Edit" method="post">
    <input asp-for="ManagerVM.Id" type="hidden" />
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label" asp-for="ManagerVM.Name">Manager Name</label>
        </div>
        <div class="col">
            <input class="form-control" asp-for="ManagerVM.Name" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>