@page
@model IndexModel
@{
    ViewData["Title"] = "Managers";
}

<table class="table table-borderless table-dark w-auto">
    <thead class="thead-dark">
        <tr>
            <th><a asp-page="./Create" class="btn btn-primary btn-sm">Create Manager</a></th>
        </tr>
    </thead>
</table>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="w-75">Managers</th>
            <th class="w-25 text-center">Options</th>
        </tr>
    </thead>
    @foreach (var manager in Model.Managers)
    {
        <tr>
            <td class="w-75">@manager.Name</td>
            <td class="w-25 text-center">
                <a asp-page="./Edit" asp-route-id="@manager.Id" class="btn btn-primary btn-sm">Details</a>
                <form id="deleteEntry_@manager.Id" asp-controller="Managers" asp-action="Delete" method="post" style="display: inline;">
                    <input id="Id" name="Id" asp-for="@manager.Id" type="hidden" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts
{
    <script type="text/javascript">

        AddEventListenerToDeleteEntries();

    </script>
}