@page
@model IndexModel
@{
    ViewData["Title"] = "Managers";
}

<table style="width:50%">
    <tr>
        <th>Manager</th>
    </tr>
    @foreach (var Manager in Model.Managers)
    {
        <tr>
            <td>@Manager.Name</td>
        </tr>
    }
</table>


