@page
@model IndexModel
@{
    ViewData["Title"] = "Managers";
}

<table class="table table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Rose</th>
            <th>Details Page</th>
        </tr>
    </thead>
    <tr>
        <td><a asp-page="./Create">Create Manager</a></td>
        <td></td>
    </tr>
    @foreach (var manager in Model.Managers)
    {
        <tr>
            <td>@manager.Name</td>
            <td><a asp-page="./Details" asp-route-id="@manager.Id">Details</a></td>
        </tr>
    }
</table>
