@page
@model TTRBookings.Web.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    The account <b>@Model.Name</b> was registered sucessfully.
</p>
