@page
@model TTRBookings.Web.Pages.Rooms.CreateModel

<h2>Create Room</h2>
<form asp-page="./Create" method="post">
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label" asp-for="RoomVM.Name">Room Name</label>
        </div>
        <div class="col">
            <input class="form-control" asp-for="RoomVM.Name" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Create Room</button>
        </div>
    </div>
</form>