@page
@model TTRBookings.Web.Pages.Rooms.DetailsModel
@{
}
<h2>Room Details</h2>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Room</th>
            <th>Options</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.Room.Name</td>
        <td>
            <a asp-page="./Edit" asp-route-id="@Model.Room.Id" class="btn btn-primary btn-sm">Edit</a>
            <a asp-page="./Delete" asp-route-id="@Model.Room.Id" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
</table>