@page
@model TTRBookings.Web.Pages.Rooms.EditModel
@{
}
<h2>Edit Room</h2>
<form asp-page="./Edit" method="post">
    <input asp-for="RoomVM.Id" type="hidden" />
    <div class="form-row">
        <div class="col col-lg-2">
            <label class="col-form-label" asp-for="RoomVM.Name">Room Name</label>
        </div>
        <div class="col">
            <input class="form-control" asp-for="RoomVM.Name" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Create Room</button>
        </div>
    </div>
</form>