@page
@model TTRBookings.Web.Pages.Rooms.EditModel

<h2>Details</h2>
<br />

<form asp-page="./Edit" method="post">
    <fieldset id="FormFieldset" class="p-3 mb-2 bg-secondary text-white" disabled>
        <input asp-for="RoomVM.Id" type="hidden" />
        <div class="form-row">
            <div class="col">
                <label asp-for="RoomVM.Name">Name</label>
            </div>
        </div>
        <div class="form-row w-25">
            <div class="col">
                <input class="form-control" asp-for="RoomVM.Name" />
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto align-content-center">
            <button type="button" id="unlockFormButton" class="btn btn-secondary">Edit</button>
        </div>
        <div class="col-auto align-content-center">
            <button type="submit" id="submitButton" class="btn btn-success" hidden>Save Changes</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        let el = document.getElementById("unlockFormButton");
        el.addEventListener("click", UnlockFieldset);

        //TODO - Change RoomVM_Name when all values are renamed for portfolio
        let originalName = document.getElementById("RoomVM_Name").value;

        function UnlockFieldset() {
            let unlockButton = document.getElementById("unlockFormButton")
            let fieldset = document.getElementById("FormFieldset");

            if (fieldset.disabled == true) {
                fieldset.disabled = false;
                fieldset.className = "p-3 mb-2";
                unlockButton.textContent = "Cancel";
                unlockButton.className = "btn btn-danger";
                document.getElementById("submitButton").hidden = false;
            }
            else {
                fieldset.disabled = true;
                fieldset.className = "p-3 mb-2 bg-secondary text-white";
                unlockButton.textContent = "Edit";
                unlockButton.className = "btn btn-secondary";
                document.getElementById("submitButton").hidden = true;

                //TODO - Change RoomVM_Name when all values are renamed for portfolio
                document.getElementById("RoomVM_Name").value = originalName;
            }
        }
    </script>
}