@page
@model TTRBookings.Web.Pages.Rooms.EditModel

<h2>Details</h2>
<br />

<form asp-page="./Edit" method="post">
    <fieldset id="FormFieldset" class="p-3 mb-2 bg-secondary text-white" disabled>
        <input asp-for="RoomVM.Id" type="hidden" />
        <div class="form-row">
            <div class="col">
                <label asp-for="RoomVM.Name">Name</label>
            </div>
        </div>
        <div class="form-row w-25">
            <div class="col">
                <input class="form-control" asp-for="RoomVM.Name" />
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto align-content-center">
            <button type="button" id="unlockFormButton" class="btn btn-secondary">Edit</button>
        </div>
        <div class="col-auto align-content-center">
            <button type="submit" id="submitButton" class="btn btn-success" hidden>Save Changes</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        //save defaultValue of input field so it can be restored if editing is cancelled
        let defaultFieldName = "RoomVM_Name";
        let defaultValue = document.getElementById(defaultFieldName).value;

        //add eventListener to lock / unlock form field
        document.getElementById("unlockFormButton").addEventListener("click", function () {
            UnlockFieldset(defaultFieldName, defaultValue);
        });

    </script>
}