@page
@model TTRBookings.Web.Pages.Rooms.EditModel

<h2>Details</h2>
<br />

<form id="editForm" asp-controller="Rooms" asp-action="Edit" method="post" class="needs-validation" novalidate>
    <fieldset id="FormFieldset" class="p-3 mb-2 bg-secondary text-white" disabled>
        <input name="Id" asp-for="RoomVM.Id" type="hidden" />
        <div class="form-row">
            <div class="col">
                <label asp-for="RoomVM.Name">Name</label>
            </div>
        </div>
        <div class="form-row w-25">
            <div class="col">
                <input class="form-control" name="Name" asp-for="RoomVM.Name" />
            </div>
            <div class="invalid-feedback">
                Please provide a Room name.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="col-auto align-content-center">
            <button type="button" id="unlockFormButton" class="btn btn-secondary">Edit</button>
        </div>
        <div class="col-auto align-content-center">
            <button type="submit" id="submitButton" class="btn btn-success" hidden>Save Changes</button>
        </div>
    </div>
</form>
<br />

<form id="deleteEntry" asp-controller="Rooms" asp-action="Delete" method="post" style="display: inline;">
    <input id="roomId" name="roomId" asp-for="@Model.RoomVM.Id" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete Room</button>
</form>
<br />
<br />

<vc:bookings repository-id="@Model.RoomVM.Id" repository-filter="room"></vc:bookings>

@section Scripts
{
    <script type="text/javascript">

        //Hook in custom form submit for the edit button
        document.getElementById("editForm").addEventListener("submit", function () {
            handleFormSubmit(event, SuccessRedirect, "../Rooms/Edit?id=@Model.RoomVM.Id");
        });

        //Hook in custom form submit for the delete button
        document.getElementById("deleteEntry").addEventListener("submit", function () {
            handleFormSubmit(event, SuccessRedirect, "../Rooms/");
        });

        //save defaultValue of input field so it can be restored if editing is cancelled
        let defaultFieldName = "RoomVM_Name";
        let defaultValue = document.getElementById(defaultFieldName).value;

        //add eventListener to lock / unlock form field
        document.getElementById("unlockFormButton").addEventListener("click", function () {
            UnlockFieldset(defaultFieldName, defaultValue);
        });

    </script>
}