@page
@model IndexModel
@{
    ViewData["Title"] = "Rooms";
}

<table class="table table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Rose</th>
            <th>Details Page</th>
        </tr>
    </thead>
    <tr>
        <td><a asp-page="./Create">Create Room</a></td>
        <td></td>
    </tr>
    @foreach (var room in Model.Rooms)
    {
        <tr>
            <td>@room.Name</td>
            <td><a asp-page="./Details" asp-route-id="@room.Id">Details</a></td>
        </tr>
    }
</table>

