@page
@model IndexModel
@{
    ViewData["Title"] = "Staff";
}

<table class="table table-borderless table-dark w-auto">
    <thead class="thead-dark">
        <tr>
            <th><a asp-page="./Create" class="btn btn-primary btn-sm">Create Staff</a></th>
        </tr>
    </thead>
</table>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="w-75">Staff</th>
            <th class="w-25 text-center">Options</th>
        </tr>
    </thead>
    @foreach (var staff in Model.Staff)
    {
        <tr>
            <td class="w-75">@staff.Name</td>
            <td class="w-25 text-center">
                <a asp-page="./Edit" asp-route-id="@staff.Id" class="btn btn-primary btn-sm">Details</a>
                <form id="deleteEntry_@staff.Id" asp-controller="Staff" asp-action="Delete" method="post" style="display: inline;">
                    <input id="Id" name="Id" asp-for="@staff.Id" type="hidden" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts
{
    <script type="text/javascript">

        AddEventListenerToDeleteEntries();

    </script>
}